<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & password</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="my-3">
                        <label class="form-label">Email</label>
                        <input formControlName="email" type="email" class="form-control" placeholder="email">
                    </div>
                    <div class="my-3">
                        <label class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a class="text-light mt-3" routerLink="/signup" routerLinkActive="router-link-active" >New user? Click to signup</a>
            </div>
        </div>
    </div>
</div>
