<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 class="text-light">Product Managerment</h1>
        <div class="d-flex">
            <button (click)="clickAddProduct()" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-success">Add product</button>
            <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
        </div>
    </div>
</nav>
<table class="table mt-4 table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>image</th>
            <th>acction</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productData">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>
                <img [src]="item.image" width="150" height="150">
            </td>
            <td>
                <button (click)="editProduct(item)" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-primary">edit</button>
                &nbsp;
                <a (click)="deleteProduct(item)" class="btn btn-danger">delete</a>
            </td>
        </tr>
    </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Product Detail</h5>
          <button (click)="resetForm()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="m-3">
                    <label class="form-label">name:</label>
                    <input formControlName="name" type="text" placeholder="name" class="form-control">
                </div>
                <div class="m-3">
                    <label class="form-label">price:</label>
                    <input formControlName="price" type="number" placeholder="price" class="form-control">
                </div>
                <div class="m-3">
                    <label class="form-label">image:</label>
                    <input formControlName="image" type="text" placeholder="image" class="form-control">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button (click)="resetForm()" id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="showAdd" (click)="postProductDetail()" type="button" class="btn btn-primary">Add</button>
          <button *ngIf="showEdit" (click)="updateProduct()" type="button" class="btn btn-primary">update</button>
        </div>
      </div>
    </div>
  </div>